<h3>Datos Personales</h3>
<form class="mt-5" [formGroup]="formAddress" novalidate>
  <div class="form-group">
    <label for="inputCalle">Calle</label>
    <input type="text" class="form-control" id="inputCalle" placeholder="Introduce tu calle" formControlName="calle">
    <div class="error" *ngIf="formAddress.controls.calle.errors?.required && formAddress.controls.calle.touched">
      El campo calle es obligatorio
    </div>
  </div>
  <div class="form-group">
    <label for="inputNumero">Número</label>
    <input type="text" class="form-control" id="inputNumero" placeholder="Introduce el número" formControlName="numero">
    <div class="error" *ngIf="formAddress.controls.numero.errors?.required && formAddress.controls.numero.touched">
      El campo númer es obligatorio y debe ser numérico
    </div>
  </div>
  <div class="form-group">
    <label for="inputCodigoPostal">Código Postal</label>
    <input type="text" class="form-control" id="inputCodigoPostal" placeholder="Introduce tu código postal" formControlName="codigoPostal">
    <div class="error" *ngIf="formAddress.controls.codigoPostal.errors?.required && formAddress.controls.codigoPostal.touched">
      El campo código postal es obligatorio y debe ser correcto
    </div>
  </div>
  <div class="form-group">
    <label for="inputCiudad">Ciudad</label>
    <input type="text" class="form-control" id="inputCiudad" placeholder="Introduce tu ciudad"
      formControlName="ciudad">
    <div class="error" *ngIf="formAddress.controls.ciudad.errors?.required && formAddress.controls.ciudad.touched">
      El campo ciudad es obligatorio
    </div>
  </div>
  <button (click)="handleClickAnterior()" class="btn btn-primary float-left" >Anterior</button>
  <button (click)="handleClickSiguiente()" class="btn btn-success float-right" [disabled]="!formAddress.valid">Siguiente</button>
</form>